<!DOCTYPE html>
<html>

<head>
    <title>DrAIke - In My Feelings AI Challenge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/tutorial.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- tutorial section -->

    <div id="tutorial">
        <div class="tutorial_step" id="tuto1">
            <h1 class="tuto">Step 1. Stand in front of the webcam, and start dancing!</h1>
        </div>
        <div class="tutorial_step" id="tuto2">
            <h1 class="tuto">Step 2. Copy DrAIke to earn the score</h1>
        </div>
        <div class="tutorial_step" id="tuto3">
            <h1 class="tuto">Step 3. DrAIke will show you funny videos depending on your score!</h1>
        </div>
        <div class="tutorial_button" id="tuto4">
            <!-- <a class="button" id="start_button" onclick="location.href='index.html'";>GOT IT!</a> -->
            <a href="playground" class="button" id='start_button'>GOT IT!</a>
        </div>
    </div>

</body>

</html>
