html, body, div, section, h1, h2 {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  font-size: 30px;
}

#result_video{
  width: 80%; 
  height: auto;
  margin: 0 auto;
}

#section1{
  position: relative;
  height: 100vh;
  line-height: 100vh;
  background-color: #5097D6;
  text-align: center;
}

#section1 h1{
  font-size: 2.6em;
  font-family: sans-serif;
  color: white;
}

#section2{
  height: 100vh
  line-height: 100vh;
  background-color: #ffffff;
  text-align: center;
  /*vertical-align: middle;
  display: table-cell;*/
}

#scrollDown{
  position: absolute;
  border: 2px solid white;
  border-radius: 10px;
  width:15px;
  height:45px;
  padding: 2px 0px;
  bottom: 3vh;
  margin-left: 50%;
  transform: translateX(-50%);
}

#scrollDown #rond{
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background-color:white;
  margin: 0 auto;
  animation: anim1 1.5s infinite;
}

@keyframes anim1 {
  0%
  { 
      margin-top: 0px;
      opacity: 0;
  }
  100%
  { 
      margin-top: 33px;
      opacity: 1;
  }
}